<section class="search">
  <%= form_tag contacts_path, :method => 'get', :id => 'search_form' do %>
    <%= search_field_tag :q, params[:q], {:placeholder => 'Search contacts'} %> <%= submit_tag 'Search', :name => nil, :class => 'submit' %>
<% end %>
</section>
